<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sy</key>
	<dict>
		<key>10年10月20日</key>
		<array>
			<string>5.56</string>
			<string>5.6</string>
			<string>5.96</string>
			<string>6.14</string>
		</array>
		<key>10年12月26日</key>
		<array>
			<string>5.81</string>
			<string>5.85</string>
			<string>6.22</string>
			<string>6.4</string>
		</array>
		<key>11年02月09日</key>
		<array>
			<string>6.06</string>
			<string>6.1</string>
			<string>6.45</string>
			<string>6.6</string>
		</array>
		<key>11年04月06日</key>
		<array>
			<string>6.31</string>
			<string>6.4</string>
			<string>6.65</string>
			<string>6.8</string>
		</array>
		<key>11年07月07日</key>
		<array>
			<string>6.56</string>
			<string>6.65</string>
			<string>6.9</string>
			<string>7.05</string>
		</array>
		<key>12年06月08日</key>
		<array>
			<string>6.31</string>
			<string>6.4</string>
			<string>6.65</string>
			<string>6.8</string>
		</array>
		<key>12年07月06日</key>
		<array>
			<string>6</string>
			<string>6.15</string>
			<string>6.4</string>
			<string>6.55</string>
		</array>
		<key>14年11月22日</key>
		<array>
			<string>5.6</string>
			<string>6.0</string>
			<string>6.0</string>
			<string>6.15</string>
		</array>
		<key>15年03月01日</key>
		<array>
			<string>5.35</string>
			<string>5.75</string>
			<string>5.75</string>
			<string>5.90</string>
		</array>
	</dict>
	<key>gjj</key>
	<dict>
		<key>10年10月20日</key>
		<array>
			<string>3.5</string>
			<string>4.05</string>
		</array>
		<key>10年12月26日</key>
		<array>
			<string>3.75</string>
			<string>4.3</string>
		</array>
		<key>11年02月09日</key>
		<array>
			<string>4</string>
			<string>4.5</string>
		</array>
		<key>11年04月06日</key>
		<array>
			<string>4.2</string>
			<string>4.7</string>
		</array>
		<key>11年07月07日</key>
		<array>
			<string>4.45</string>
			<string>4.9</string>
		</array>
		<key>12年06月08日</key>
		<array>
			<string>4.2</string>
			<string>4.7</string>
		</array>
		<key>12年07月06日</key>
		<array>
			<string>4</string>
			<string>4.5</string>
		</array>
		<key>14年11月22日</key>
		<array>
			<string>3.75</string>
			<string>4.25</string>
		</array>
		<key>15年03月01日</key>
		<array>
			<string>3.75</string>
			<string>4.25</string>
		</array>
	</dict>
</dict>
</plist>
