<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>15年03月01日</key>
	<array>
		<string>15年03月01日利率1.1倍</string>
		<string>15年03月01日基准利率</string>
		<string>15年03月01日利率9.5折</string>
		<string>15年03月01日利率9折</string>
	</array>
</dict>
</plist>
