<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>15年03月01日</key>
	<array>
		<string>15年03月01日利率1.2倍</string>
		<string>15年03月01日利率1.1倍</string>
		<string>15年03月01日利率1.05倍</string>
		<string>15年03月01日基准利率</string>
		<string>15年03月01日利率9折</string>
		<string>15年03月01日利率8.5折</string>
		<string>15年03月01日利率7折</string>
	</array>
	<key>14年11月22日</key>
	<array>
		<string>14年11月22日利率1.2倍</string>
		<string>14年11月22日利率1.1倍</string>
		<string>14年11月22日利率1.05倍</string>
		<string>14年11月22日基准利率</string>
		<string>14年11月22日利率9折</string>
		<string>14年11月22日利率8.5折</string>
		<string>14年11月22日利率7折</string>
	</array>
	<key>12年07月06日</key>
	<array>
		<string>12年07月06日利率1.2倍</string>
		<string>12年07月06日利率1.1倍</string>
		<string>12年07月06日利率1.05倍</string>
		<string>12年07月06日基准利率</string>
		<string>12年07月06日利率9折</string>
		<string>12年07月06日利率8.5折</string>
		<string>12年07月06日利率7折</string>
	</array>
	<key>12年06月08日</key>
	<array>
		<string>12年06月08日利率1.2倍</string>
		<string>12年06月08日利率1.1倍</string>
		<string>12年06月08日利率1.05倍</string>
		<string>12年06月08日基准利率</string>
		<string>12年06月08日利率9折</string>
		<string>12年06月08日利率8.5折</string>
		<string>12年06月08日利率7折</string>
	</array>
	<key>11年07月07日</key>
	<array>
		<string>11年07月07日利率1.2倍</string>
		<string>11年07月07日利率1.1倍</string>
		<string>11年07月07日利率1.05倍</string>
		<string>11年07月07日基准利率</string>
		<string>11年07月07日利率9折</string>
		<string>11年07月07日利率8.5折</string>
		<string>11年07月07日利率7折</string>
	</array>
	<key>11年04月06日</key>
	<array>
		<string>11年04月06日利率1.2倍</string>
		<string>11年04月06日利率1.1倍</string>
		<string>11年04月06日基准利率</string>
		<string>11年04月06日利率8.5折</string>
		<string>11年04月06日利率7折</string>
	</array>
	<key>11年02月09日</key>
	<array>
		<string>11年02月09日利率1.2倍</string>
		<string>11年02月09日利率1.1倍</string>
		<string>11年02月09日基准利率</string>
		<string>11年02月09日利率8.5折</string>
		<string>11年02月09日利率7折</string>
	</array>
	<key>10年12月26日</key>
	<array>
		<string>10年12月26日利率1.2倍</string>
		<string>10年12月26日利率1.1倍</string>
		<string>10年12月26日基准利率</string>
		<string>10年12月26日利率8.5折</string>
		<string>10年12月26日利率7折</string>
	</array>
	<key>10年10月20日</key>
	<array>
		<string>10年10月20日利率1.1倍</string>
		<string>10年10月20日基准利率</string>
		<string>10年10月20日利率8.5折</string>
		<string>10年10月20日利率7折</string>
	</array>
</dict>
</plist>
